<a href="https://colab.research.google.com/github/annakthrnlee/FIFA_World_Cup/blob/lee1/Revised_International_Matches.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# GOAL FOR THIS CODE: 
# This code is to clean the dataset (International_Matches.csv) : delete null values, edit date range from 1930 to 2000, and create a basic table for top ranking teams in 2022
# Once cleaned I will complete the necessary tasks on our other dataset (Players_22.csv)
# Finally, I will merge both datasets and create a basic start for our machine learning model

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
# Import and read International_matches.csv
from google.colab import files
 
 
uploaded = files.upload()

Saving international_matches.csv to international_matches (1).csv

In [31]:
#  Import and read the dataset
import pandas as pd 
Revised_df = pd.read_csv("international_matches.csv")
Revised_df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Check the datatypes of your columns
Revised_df.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [33]:
# Since the dates go back to 1930, I'm removing all dates up to 2000
Revised_dates_df = Revised_df[(Revised_df['date'] >= '2000-01-01')
                          & (Revised_df['date'] < '2022-08-22')]

Revised_dates_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
4113,2000-01-04,Egypt,Togo,Africa,Africa,38,87,0,0,2,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4114,2000-01-07,Tunisia,Togo,Africa,Africa,31,87,0,0,7,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4115,2000-01-08,Trinidad and Tobago,Canada,South America,North America,44,81,0,0,0,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4116,2000-01-09,Burkina Faso,Gabon,Africa,Africa,71,74,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4117,2000-01-09,Guatemala,Armenia,North America,Europe,73,85,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [42]:
# Drop all null values 'columns' from dataset
Revised_dates_df = Revised_dates_df.dropna(axis=1)
Revised_dates_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result
4113,2000-01-04,Egypt,Togo,Africa,Africa,38,87,0,0,2,1,Friendly,Aswan,Egypt,False,No,Win
4114,2000-01-07,Tunisia,Togo,Africa,Africa,31,87,0,0,7,0,Friendly,Tunis,Tunisia,False,No,Win
4115,2000-01-08,Trinidad and Tobago,Canada,South America,North America,44,81,0,0,0,0,Friendly,Port of Spain,Trinidad and Tobago,False,No,Draw
4116,2000-01-09,Burkina Faso,Gabon,Africa,Africa,71,74,0,0,1,1,Friendly,Ouagadougou,Burkina Faso,False,No,Draw
4117,2000-01-09,Guatemala,Armenia,North America,Europe,73,85,0,0,1,1,Friendly,Los Angeles,USA,True,No,Draw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,1,UEFA Nations League,Chișinău,Moldova,False,No,Win
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,2,UEFA Nations League,Vaduz,Liechtenstein,False,No,Lose
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,0,Kirin Cup,Suita,Japan,True,Yes,Lose
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,3,Kirin Cup,Suita,Japan,False,No,Lose
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,1,Friendly,Seoul,Korea Republic,False,No,Win

In [43]:
# Sort home ranking by ascending order 
Ranking_home_df = Revised_dates_df.sort_values(by='home_team_fifa_rank', ascending=True)
Ranking_home_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result
9664,2006-06-13,Brazil,Croatia,South America,Europe,1,23,0,0,1,0,FIFA World Cup,Berlin,Germany,True,No,Win
4783,2000-07-26,Brazil,Argentina,South America,South America,1,5,0,0,3,1,FIFA World Cup qualification,São Paulo,Brazil,False,No,Win
11819,2008-09-10,Spain,Armenia,Europe,Europe,1,98,0,0,4,0,FIFA World Cup qualification,Albacete,Spain,False,No,Win
23038,2021-10-07,Belgium,France,Europe,Europe,1,4,1832,1754,2,3,UEFA Nations League,Turin,Italy,True,No,Lose
22751,2021-07-02,Belgium,Italy,Europe,Europe,1,7,1783,1642,1,2,UEFA Euro,Munich,Germany,True,No,Lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23820,2022-06-09,San Marino,Iceland,Europe,Europe,211,63,776,1380,0,1,Friendly,Serravalle,San Marino,False,No,Lose
23740,2022-06-05,San Marino,Malta,Europe,Europe,211,169,776,971,0,2,UEFA Nations League,Serravalle,San Marino,False,No,Lose
21033,2019-03-24,San Marino,Scotland,Europe,Europe,211,40,854,1446,0,2,UEFA Euro qualification,Serravalle,San Marino,False,No,Lose
20818,2018-11-18,Turks and Caicos Islands,St. Vincent and the Grenadines,North America,North America,211,175,855,955,3,2,CONCACAF Nations League qualification,Providenciales,Turks and Caicos Islands,False,No,Win
21527,2019-09-09,San Marino,Cyprus,Europe,Europe,211,93,839,1258,0,4,UEFA Euro qualification,Serravalle,San Marino,False,No,Lose

In [45]:
# Sort away ranking by ascending order
Ranking_away_df = Revised_dates_df.sort_values(by='away_team_fifa_rank', ascending=True)
Ranking_away_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result
15205,2012-08-15,Puerto Rico,Spain,North America,Europe,138,1,209,1604,1,2,Friendly,Bayamón,Puerto Rico,False,No,Lose
16545,2013-11-19,South Africa,Spain,Africa,Europe,61,1,540,1513,1,0,Friendly,Johannesburg,South Africa,False,No,Win
22717,2021-06-21,Finland,Belgium,Europe,Europe,54,1,1410,1783,0,2,UEFA Euro,Saint Petersburg,Russia,True,No,Lose
9499,2006-03-01,Russia,Brazil,Europe,South America,34,1,0,0,0,1,Friendly,Moscow,Russia,False,No,Lose
15127,2012-06-18,Croatia,Spain,Europe,Europe,8,1,1052,1456,0,1,UEFA Euro,Gdańsk,Poland,True,No,Lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21205,2019-06-11,Kazakhstan,San Marino,Europe,Europe,116,211,1171,848,4,0,UEFA Euro qualification,Nur-Sultan,Kazakhstan,False,No,Win
20982,2019-03-21,Cyprus,San Marino,Europe,Europe,87,211,1276,854,5,0,UEFA Euro qualification,Nicosia,Cyprus,False,No,Win
23874,2022-06-12,Malta,San Marino,Europe,Europe,169,211,971,776,1,0,UEFA Nations League,Ta' Qali,Malta,False,No,Win
21164,2019-06-08,Russia,San Marino,Europe,Europe,46,211,1425,848,9,0,UEFA Euro qualification,Saransk,Russia,False,No,Win
23682,2022-06-02,Estonia,San Marino,Europe,Europe,110,211,1169,776,2,0,UEFA Nations League,Tallinn,Estonia,False,No,Win